.container {
  width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #BDBDBD;
}

.search-bar {
  position: relative;
  padding: 0 15px;
  width: 500px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}
.search-bar::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("./assets/Vector.png") center center;
}
.header {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}
.loading {
  font-size: 36px;
  color: #828282;
  text-align: center;
}
