.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
}
.cover {
    width: 64px;
    height: 64px;

}
